<template>
    <div class="col-8 mx-auto py-5 mt-5">
        <h1>Dashboard page</h1>
        <div class="card">
            <div class="card-body">
                <h3>Khan</h3>
                 <span>MdEahiyakhan@gmaicom</span>
            </div>
        </div>
    </div>
</template>


<script>
import User from '../apis/User'
export default {
    name: 'Dashboard',
    mounted() {
        User.auth()
        .then(res => {
            console.log(res);
        })
    }
}
</script>



<style scoped>

</style>

