<template>
   <div class="col-5 mx-auto py-5 mt-5">
        <h1 class="text-center">Login page</h1>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input v-model="log_data.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small v-if="errors.email" class="form-text text-danger">{{ errors.email[0] }}</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input v-model="log_data.password" type="password" class="form-control" id="exampleInputPassword1">
                        <small v-if="errors.password" class="form-text text-danger">{{ errors.password[0] }}</small>

                    </div>
                    <button type="submit" @click.prevent="login()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>


<script>
import User from '../apis/User'
export default {
    name: 'Login',
    data(){
        return {
            log_data: {
                email: null,
                password: null,
                device_name: 'browser'
            },
            errors: []
        }
    },
    methods: {
        login(){
            User.login(this.log_data)
            .then( (res) => {
                localStorage.setItem('token', res.data)
                this.$root.$emit('login', true) // any where you can access
                this.$router.replace('/dashboard');
            })
            .catch(e => {
                this.errors = e.response.data.errors
            })
        }
    }
}
</script>



<style scoped>

</style>

