<template>
  <div class="col-5 mx-auto py-5 mt-5">
        <h1 class="text-center">Register page</h1>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="form_data.name" type="text" class="form-control" id="name">
                        <span v-if="errors.name" class="text-danger">{{ errors.name[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input v-model="form_data.email" type="email" class="form-control" id="exampleInputEmail1">
                        <span v-if="errors.email" class="text-danger">{{ errors.email[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input v-model="form_data.password" type="password" class="form-control" id="exampleInputPassword1">
                        <span v-if="errors.password" class="text-danger">{{ errors.password[0] }}</span>
                    </div>
                     <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input v-model="form_data.password_confirmation" type="password" class="form-control" id="confirm_password">
                    </div>
                    
                    <button type="submit" @click.prevent="register()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>


<script>


import User from '../apis/User'

export default {
    name: 'Register',
    data(){
        return {
            form_data: {
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
            },
            errors: []
        }
    },
    methods:{
        register(){
            User.register(this.form_data)
            .then(res => {
                console.log(res);
                this.$router.push('/login')
                
            })
            .catch(error => {
               this.errors = error.response.data.errors
            })
        }
    }
}
</script>



<style scoped>

</style>

