<template>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
              <router-link :to="{name: 'home'}" class="navbar-brand">Vue-Sanctum</router-link>
            </div>
            <ul class="nav navbar-nav">
                <router-link v-if="!authticated" class="nav-item nav-link" :to="{name: 'login'}">Login</router-link>
                <router-link v-if="!authticated" class="nav-item nav-link" :to="{name: 'register'}">Register</router-link>
                <router-link v-if="authticated" class="nav-item nav-link" :to="{name: 'dashboard'}">Dashboard</router-link>
                <a href="#"  v-if="authticated" class="nav-item nav-link" @click.prevent="logout()">Logout</a>
            </ul>
        </div>
    </nav>
  </div>
</template>

<script>
import User from '../apis/User'
export default {
  name: 'Navigation',
  data(){
    return {
      authticated: false
    }
  },
  mounted(){
    this.$root.$on('login', () => {
         this.authticated = true
    })
    this.authticated = !!localStorage.getItem('token')
  },
  methods: {
    logout(){
        User.logout()
        .then(res => {
          console.log(res);
           this.authticated = false
          localStorage.removeItem('token')
          this.$router.push('/login')
        })
    }
  }
 
}
</script>

<style scoped>

</style>
