<template>
  <div id="app">
    <Navbar></Navbar>
      <router-view></router-view>
  </div>
</template>

<script>
import Navbar from './components/Navigation'
export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>

</style>
